<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Grants Suite">
    <test name="Dashboard Data">
        <classes>
            <class name="com.govtech.GrantApplicationData">
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->